<!-- templates/partials/background.html -->
<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>I am currently working as a TL on the Live Services team at
            <a class="underline-link" href="https://www.linkedin.com/company/twitter/" target="_blank">Twitter</a>. Through this team, I work on
            a variety of live streaming services and projects for the Twitter platform, check out this <a class="underline-link"
                                                                                                          href="https://twitter.com/rachel_sheikh/status/1529534424156540928?s=20&t=0S9OIbfPliWxxi8d7HsP9w" target="_blank">Tweet</a> to see what I've launched in the last year
            with the help of my team!

        </p>

        <p>
            I am also a Teaching Engineer at <a class="underline-link" href="https://interviewing.io/" target="_blank">Interviewing.io</a>, where I mentor and foster engineering talent for
            cohorts of early-career engineers, teaching them Go and AWS, as well as engineering best practices.

        </p>

        <p>
            I am also an interviewer at <a class="underline-link" href="https://www.onramp.io/" target="_blank">Onramp.io</a>, where I mentor and host mock technical interviews for
            engineers at all levels, in order to empower them to progress further towards their career goals.

        </p>

        <p>
            Finally, I am also the Head of Engineering at <a class="underline-link" href="https://www.ondora.xyz/" target="_blank">Dora</a>.  In this role, I help to hire and grow
            the engineering team across the company, I lead development on the API and Data layer teams, and I work with engineering leads across workstreams to define our
            technical and product roadmaps.
        </p>

        <p>
            I largely align myself with backend engineering, and my languages of choice are Go and Python. I am extremely interested in projects
            relating to video/media streaming, distributed systems, and cloud technologies.
        </p>

        <p>Previously, I led engineering efforts within <a class="underline-link" href="https://www.linkedin.com/company/state_farm/" target="_blank">State Farm's</a>
            RED Labs, where we built out an Alexa/mobile-based experience to connect seniors with their community of friends and loved ones, and launched it under the name Sundial.
            Before that, I was a software engineer at
            <a class="underline-link" href="https://www.linkedin.com/company/microsoft/" target="_blank">Microsoft</a>,
            <a class="underline-link" href="https://www.linkedin.com/company/telos-corporation/" target="_blank">Telos Corporation</a>,
            <a class="underline-link" href="https://www.linkedin.com/company/discoveryinc/" target="_blank">The Discovery Channel</a>, and
            <a class="underline-link" href="https://www.linkedin.com/company/vw-credit-inc-/" target="_blank">Volkswagen Credit, Inc.</a>
        </p>

        <p>
            When I'm not working on professional projects, I enjoy watching new movies/tv shows, going hiking, cooking new recipes, and playing video games.</p>

        <a class="status" href="resume.pdf" target="_blank">
            <div class="status__light">
                <div class="status__light__ring"></div>
                <div class="status__light__led"></div>
            </div>
            <div class="status__message">Here's my Resume!</div>
        </a>
        <a class="status" href="https://www.linkedin.com/in/rachelsheikh/" target="_blank">
            <div class="status__light">
                <div class="status__light__ring"></div>
                <div class="status__light__led"></div>
            </div>
            <div class="status__message">Here's my LinkedIn profile!</div>
        </a>
    </div>
</section>
