<!-- templates/partials/education.html -->
<section class="section experience">
    <div class="section__title">Education</div>
    <div class="section__content">
        <div class="jobs">
            <div class="job">
                <div class="time-place">
                    <div class="job__company">
                        <a href="http://catalog.odu.edu/undergraduate/collegeofsciences/psychology/" target="_blank">Old Dominion University</a>
                    </div>
                </div>
                <div class="job__position">B.S., Psychology: Fall 2020, Distinguished Graduate</div>
            </div>
            <div class="job">
                <div class="time-place">
                    <div class="job__company">
                        <a href="https://cs.gmu.edu/" target="_blank">George Mason University</a>
                    </div>
                </div>
                <div class="job__position">B.S., Computer Science: Fall 2017</div>
            </div>
</section>
