<!-- templates/partials/experience.html -->
<section class="section experience">
    <div class="section__title">Experience</div>
    <div class="section__content">
        <div class="jobs">
            <div class="job">
                <div class="job__company"><a class="underline-link" href="https://interviewing.io/" target="_blank">Interviewing.io</a></div>
                <div class="time-place">
                    <div class="job__position">Mentor / Interviewer</div>
                    <div class="job__time">Jun 2022 - Present</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a class="underline-link" href="https://www.ondora.xyz/" target="_blank">Dora</a></div>
                <div class="time-place">
                    <div class="job__position">Head of Engineering</div>
                    <div class="job__time">Feb 2022 - Present</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a class="underline-link" href="https://www.onramp.io/" target="_blank">Onramp.io</a></div>
                <div class="time-place">
                    <div class="job__position">Teaching Engineer</div>
                    <div class="job__time">Aug 2021 - Present</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/twitter/" target="_blank">Twitter</a></div>
                <div class="time-place">
                    <div class="job__position">Senior Software Engineer: Live Services</div>
                    <div class="job__time">Feb 2021 - Present</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/state_farm/" target="_blank">State Farm</a></div>
                <div class="time-place">
                    <div class="job__position">Staff Software Engineer: Sundial Labs Independence</div>
                    <div class="job__time">Jun 2020 - Jan 2021</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/vw-credit-inc-/" target="_blank">Volkswagen Credit, Inc.</a></div>
                <div class="time-place">
                    <div class="job__position">Senior Software Engineer: Innovation Labs</div>
                    <div class="job__time">Feb 2019 - Apr 2020</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/discoveryinc/" target="_blank">Discovery Communications, Inc.</a></div>
                <div class="time-place">
                    <div class="job__position">Senior Software Engineer (Contract): Media Infrastructure</div>
                    <div class="job__time">Nov 2018 - Jan 2019</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/sequoia-holdings-inc/" target="_blank">Sequoia Holdings, LLC.</a></div>
                <div class="time-place">
                    <div class="job__position">Senior Software Engineer (Laid Off): Blockchain</div>
                    <div class="job__time">May 2018 - Jul 2018</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/microsoft/" target="_blank">Microsoft</a></div>
                <div class="time-place">
                    <div class="job__position">Senior Software Engineer (Contract): Azure Blockchain & AI/ML</div>
                    <div class="job__time">Mar 2018 - Apr 2018</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company"><a href="https://www.linkedin.com/company/telos-corporation/" target="_blank">Telos Corporation</a></div>
                <div class="time-place">
                    <div class="job__position">Software Engineer: Innovation Lab</div>
                    <div class="job__time">May 2017 - Mar 2018</div>
                </div>
            </div>
            <div class="job">
                <div class="job__company">Ashtech</div>
                <div class="time-place">
                    <div class="job__position">Software Engineer</div>
                    <div class="job__time">Apr 2015 - Feb 2017</div>
                </div>
            </div>
        </div>
        <a href="resume.pdf" target="_blank" class="arrow-link">View My Resume</a>
    </div>
</section>