<!-- templates/partials/publications.html -->
<section class="section experience">
    <div class="section__title">Publications</div>
    <div class="section__content">
        <div class="jobs">
            <div class="job">
                <div class="time-place">
                    <div class="job__company">
                        “A comprehensive survey of common video streaming protocols”
                    </div>
                </div>
                <div class="job__position">Twitter 2021</div>
            </div>
        </div>
    </div>
</section>
