<!-- templates/partials/talks.html -->
<section class="section experience">
    <div class="section__title">Talks</div>
    <div class="section__content">
        <div class="jobs">
            <div class="job">
                <div class="time-place">
                    <div class="job__company">
                        Spaces Tab Service Overview
                    </div>
                </div>
                <div class="job__position">Twitter 2022</div>
                <div></div>
                <div class="job">
                    <div class="time-place">
                        <div class="job__company">
                            Spaces Tab 101: How to scale out a discovery surface to hundreds of millions of users worldwide
                        </div>
                    </div>
                    <div class="job__position">Twitter 2022</div>
                    <div></div>
                    <div class="job">
                        <div class="time-place">
                            <div class="job__company">
                                Movienight 101: How to Power Video Streaming with Kubernetes and WebRTC
                            </div>
                        </div>
                        <div class="job__position">Kubecon 2021</div>
                        <div></div>
                        <div class="job">
                            <div class="time-place">
                                <div class="job__company">
                                    Building a Video Streaming Platform in Go
                                </div>
                            </div>
                            <div class="job__position">InternHacks 2021</div>
                            <div></div>
                            <div class="job">
                                <div class="time-place">
                                    <div class="job__company">
                                        Intro to Go
                                    </div>
                                </div>
                                <div class="job__position">InternHacks 2021</div>
                                <div></div>
                                <div class="job">
                                    <div class="time-place">
                                        <div class="job__company">
                                            Building the Spaces Tab and Beta Learnings
                                        </div>
                                    </div>
                                    <div class="job__position">Twitter 2021</div>
                                    <div></div>
                                    <div class="job">
                                        <div class="time-place">
                                            <div class="job__company">
                                                Debugging with traces in Papertrail and Periscope Admin
                                            </div>
                                        </div>
                                        <div class="job__position">Twitter 2021</div>
                                        <div></div>
                                        <div class="job">
                                            <div class="time-place">
                                                <div class="job__company">
                                                    Local Caching to Protect Redis Schemas at Scale
                                                </div>
                                            </div>
                                            <div class="job__position">Twitter 2021</div>
                                            <div></div>
                                            <div class="job">
                                                <div class="time-place">
                                                    <div class="job__company">
                                                        Threat Modeling and Analysis with STRIDE
                                                    </div>
                                                </div>
                                                <div class="job__position">Netflix 2021</div>
                                                <div></div>
                                                <div class="time-place">
                                                    <div class="job__company">
                                                        Decision Tree Classification for Residual Value Calculations
                                                    </div>
                                                </div>
                                                <div class="job__position">Volkswagen 2019</div>
                                                <div></div>
                                                <div class="time-place">
                                                    <div class="job__company">
                                                        AI/ML for Automotive Financing and Underwriting
                                                    </div>
                                                </div>
                                                <div class="job__position">Volkswagen 2019</div>
                                                <div></div>
                                                <div class="time-place">
                                                    <div class="job__company">
                                                        Blockchain 101: A Technical Background and Applications within Mobility
                                                    </div>
                                                </div>
                                                <div class="job__position">Volkswagen 2019</div>
                                                <div></div>
                                                <div class="time-place">
                                                    <div class="job__company">
                                                        Blockchain 101: Fundamental Applications and Development Paradigms for Distributed Supply Chains
                                                    </div>
                                                </div>
                                                <div class="job__position">Volkswagen 2019</div>
                                                <div class="time-place">
                                                    <div class="job__company">
                                                        Distributed User Authentication With Blockchain
                                                    </div>
                                                </div>
                                                <div class="job__position">Sequoia Holdings, Inc. 2018</div>
                                            </div>
</section>
